<link rel="stylesheet" href="/css/chat_box.css">
<!--code for chat box -->
<% if (locals.user){ %>
	<div id="user-chat-box">
		<nav class="chat-header"><i class="fa-solid fa-xmark"></i> </nav>
		<hr/>
		<ul id="chat-messages-list">
			

		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message">Send</button>
		</div>

	</div>
<% } %>


<% if (locals.user){ %>
	<script>
		$('.fa-xmark').click(function(e){
			console.log("clicked",e.target.classList[2]);
			
			$('#user-chat-box').css('display','none');

			location.reload(true);
		});


	//    $("#chat-messages-list").scrollTop($("#chat-messages-list").height);
		
	</script>
	<% } %>