

<div class="media-options">
    <a href="/users/auth/github" class="field facebook">
        <img src="https://play-lh.googleusercontent.com/PCpXdqvUWfCW1mXhH1Y_98yBpgsWxuTSTofy3NGMo9yBTATDyzVkqU580bfSln50bFU" alt="" class="google-img">
        <span>Login with Github</span>
    </a>
</div>

<div class="media-options">
    <a href="/users/auth/google" class="field google">
        <img src="/images/google.png" alt="" class="google-img">
        <span>Login with Google</span>
    </a>
</div>
