<link rel="stylesheet" href="<%=assetPath('css/user_sign_in.css') %>">




<section class="container forms">
    <div class="form signup-form">
        <div class="form-content">
            <header>Sign Up</header>
            <form action="/users/create" method="POST" name="Login_Form"   enctype="multipart/form-data">              
                <div class="field input-field">
                    <input type="text" name="name" placeholder="Your Name"
                     required>

                </div>
                <div class="field input-field">
                  
                    <input type="email" class="input" name="email" 
                    placeholder="Email Address" required autofocus="" />
                </div>


                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password"
                    name="password" required>
                         <i class="fa-regular fa-eye-slash eye-icon"></i>
                </div>
                
                <div class="field input-field">
                    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                   
                </div>

                
                <div class="field ">
                    <input type="file" name="avatar" class="post-iamge form-control form-control-sm mb-3" placeholder="Profile Picture" required>
                </div>

                <div class="field ">
                    <select name="usertype" id="utype" class="form-select" required>
                  <option selected>Choose account Type</option>
                    <option value="Personal">Personal</option>
                    <option value="Organization">Organization</option>
                  </select>
                </div>

                <div class="field button-field">
                    <input type="submit" value="Sign In" class="btn btn-lg btn-primary btn-block"></input>
                </div>
            </form>

            <div class="form-link">
                <span>Already have an account? <a href="/users/sign-in" class="link signup-link">SignIn</a></span>
            </div>
        </div>

        <div class="line"></div>

        <%- include('_oAuth') -%>

    </div>

 

</section>

