<div>

    <!-- template for sneding mail, when an users is commented on a post -->
    <p>Hi <%= comment.user.name%>!</p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %></strong> just got pubished on FB v1.</p>
    <br>
    <br>
    <p>Thanks!</p>
</div>